body {
  font-family: "Oxygen", sans-serif;
  color: #000000;
  font-size: 16px;
  background-color: #ffffff;
}
#header-nav {
  background-color: #000000;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding-top: 25px;
  height: fit-content;
}
.navbar-brand h1 {
  font-family: "Lora", serif;
  color: #fff;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0.75;
}
.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #ffffff;
  text-align: center;
}
#nav-list a:hover {
  background: #e7e7e7;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
  border: 1px solid rgb(255, 255, 255);
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

#main-content h2 {
    color: #000000;
    font-size: 1.7em;
}
.menu-tile {
    position: relative;
    border: 2px solid #000000;
    color: rgb(0, 0, 0);
    margin-bottom: 15px;
}
.menu-tile:hover {
    box-shadow: 0 1px 5px 1px #777575;
}
.menu-tile h3 {
    font-size: 1.4em;
}

@media (min-width: 1200px) {

}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (max-width: 767px) {
    .navbar-header .navbar-brand {
      height: 55px;
    }
    .navbar-brand h1 {
      font-size: 5vw;
    }
  
    #collapsable-nav a {
      font-size: 1.2em;
    }
}
@media (max-width: 479px) {
    .navbar-brand h1 {
      padding-top: 5px;
      font-size: 6vw;
    }
}